.ABAP { background-color: #E8274B !important; }
.ActionScript { background-color: #882B0F !important; }
.Ada { background-color: #02f88c !important; }
.Agda { background-color: #315665 !important; }
.AGS-Script { background-color: #B9D9FF !important; }
.Alloy { background-color: #64C800 !important; }
.AMPL { background-color: #E6EFBB !important; }
.ANTLR { background-color: #9DC3FF !important; }
.API-Blueprint { background-color: #2ACCA8 !important; }
.APL { background-color: #5A8164 !important; }
.Arc { background-color: #aa2afe !important; }
.Arduino { background-color: #bd79d1 !important; }
.ASP { background-color: #6a40fd !important; }
.AspectJ { background-color: #a957b0 !important; }
.Assembly { background-color: #6E4C13 !important; }
.ATS { background-color: #1ac620 !important; }
.AutoHotkey { background-color: #6594b9 !important; }
.AutoIt { background-color: #1C3552 !important; }
.BlitzMax { background-color: #cd6400 !important; }
.Boo { background-color: #d4bec1 !important; }
.Brainfuck { background-color: #2F2530 !important; }
.C-Sharp { background-color: #178600 !important; }
.C { background-color: #555555 !important; }
.Chapel { background-color: #8dc63f !important; }
.Cirru { background-color: #ccccff !important; }
.Clarion { background-color: #db901e !important; }
.Clean { background-color: #3F85AF !important; }
.Click { background-color: #E4E6F3 !important; }
.Clojure { background-color: #db5855 !important; }
.CoffeeScript { background-color: #244776 !important; }
.ColdFusion-CFC { background-color: #ed2cd6 !important; }
.ColdFusion { background-color: #ed2cd6 !important; }
.Common-Lisp { background-color: #3fb68b !important; }
.Component-Pascal { background-color: #b0ce4e !important; }
.cpp { background-color: #f34b7d !important; }
.Crystal { background-color: #776791 !important; }
.CSS { background-color: #563d7c !important; }
.D { background-color: #ba595e !important; }
.Dart { background-color: #00B4AB !important; }
.Diff { background-color: #88dddd !important; }
.DM { background-color: #447265 !important; }
.Dogescript { background-color: #cca760 !important; }
.Dylan { background-color: #6c616e !important; }
.E { background-color: #ccce35 !important; }
.Eagle { background-color: #814C05 !important; }
.eC { background-color: #913960 !important; }
.ECL { background-color: #8a1267 !important; }
.edn { background-color: #db5855 !important; }
.Eiffel { background-color: #946d57 !important; }
.Elixir { background-color: #6e4a7e !important; }
.Elm { background-color: #60B5CC !important; }
.Emacs-Lisp { background-color: #c065db !important; }
.EmberScript { background-color: #FFF4F3 !important; }
.Erlang { background-color: #B83998 !important; }
.F-Sharp { background-color: #b845fc !important; }
.Factor { background-color: #636746 !important; }
.Fancy { background-color: #7b9db4 !important; }
.Fantom { background-color: #dbded5 !important; }
.FLUX { background-color: #88ccff !important; }
.Forth { background-color: #341708 !important; }
.FORTRAN { background-color: #4d41b1 !important; }
.FreeMarker { background-color: #0050b2 !important; }
.Frege { background-color: #00cafe !important; }
.Game-Maker-Language { background-color: #8fb200 !important; }
.Glyph { background-color: #e4cc98 !important; }
.Gnuplot { background-color: #f0a9f0 !important; }
.Go { background-color: #375eab !important; }
.Golo { background-color: #88562A !important; }
.Gosu { background-color: #82937f !important; }
.Grammatical-Framework { background-color: #79aa7a !important; }
.Groovy { background-color: #e69f56 !important; }
.Handlebars { background-color: #01a9d6 !important; }
.Harbour { background-color: #0e60e3 !important; }
.Haskell { background-color: #29b544 !important; }
.Haxe { background-color: #df7900 !important; }
.HTML { background-color: #e44b23 !important; }
.Hy { background-color: #7790B2 !important; }
.IDL { background-color: #a3522f !important; }
.Io { background-color: #a9188d !important; }
.Ioke { background-color: #078193 !important; }
.Isabelle { background-color: #FEFE00 !important; }
.J { background-color: #9EEDFF !important; }
.Java { background-color: #b07219 !important; }
.JavaScript { background-color: #f1e05a !important; }
.JFlex { background-color: #DBCA00 !important; }
.JSONiq { background-color: #40d47e !important; }
.Julia { background-color: #a270ba !important; }
.Jupyter-Notebook { background-color: #DA5B0B !important; }
.Kotlin { background-color: #F18E33 !important; }
.KRL { background-color: #28431f !important; }
.Lasso { background-color: #999999 !important; }
.Latte { background-color: #A8FF97 !important; }
.Lex { background-color: #DBCA00 !important; }
.LFE { background-color: #004200 !important; }
.LiveScript { background-color: #499886 !important; }
.LOLCODE { background-color: #cc9900 !important; }
.LookML { background-color: #652B81 !important; }
.LSL { background-color: #3d9970 !important; }
.Lua { background-color: #000080 !important; }
.Makefile { background-color: #427819 !important; }
.Mask { background-color: #f97732 !important; }
.Matlab { background-color: #bb92ac !important; }
.Max { background-color: #c4a79c !important; }
.MAXScript { background-color: #00a6a6 !important; }
.Mercury { background-color: #ff2b2b !important; }
.Metal { background-color: #8f14e9 !important; }
.Mirah { background-color: #c7a938 !important; }
.MTML { background-color: #b7e1f4 !important; }
.NCL { background-color: #28431f !important; }
.Nemerle { background-color: #3d3c6e !important; }
.nesC { background-color: #94B0C7 !important; }
.NetLinx { background-color: #0aa0ff !important; }
.NetLinx-ERB { background-color: #747faa !important; }
.NetLogo { background-color: #ff6375 !important; }
.NewLisp { background-color: #87AED7 !important; }
.Nimrod { background-color: #37775b !important; }
.Nit { background-color: #009917 !important; }
.Nix { background-color: #7e7eff !important; }
.Nu { background-color: #c9df40 !important; }
.Objective-C { background-color: #438eff !important; }
.Objective-Cpp { background-color: #6866fb !important; }
.Objective-J { background-color: #ff0c5a !important; }
.OCaml { background-color: #3be133 !important; }
.Omgrofl { background-color: #cabbff !important; }
.ooc { background-color: #b0b77e !important; }
.Opal { background-color: #f7ede0 !important; }
.Oxygene { background-color: #cdd0e3 !important; }
.Oz { background-color: #fab738 !important; }
.Pan { background-color: #cc0000 !important; }
.Papyrus { background-color: #6600cc !important; }
.Parrot { background-color: #f3ca0a !important; }
.Pascal { background-color: #b0ce4e !important; }
.PAWN { background-color: #dbb284 !important; }
.Perl { background-color: #0298c3 !important; }
.Perl6 { background-color: #0000fb !important; }
.PHP { background-color: #4F5D95 !important; }
.PigLatin { background-color: #fcd7de !important; }
.Pike { background-color: #005390 !important; }
.PLSQL { background-color: #dad8d8 !important; }
.PogoScript { background-color: #d80074 !important; }
.Processing { background-color: #0096D8 !important; }
.Prolog { background-color: #74283c !important; }
.Propeller-Spin { background-color: #7fa2a7 !important; }
.Puppet { background-color: #302B6D !important; }
.Pure Data { background-color: #91de79 !important; }
.PureBasic { background-color: #5a6986 !important; }
.PureScript { background-color: #1D222D !important; }
.Python { background-color: #3572A5 !important; }
.QML { background-color: #44a51c !important; }
.R { background-color: #198ce7 !important; }
.Racket { background-color: #22228f !important; }
.Ragel-in-Ruby-Host { background-color: #9d5200 !important; }
.RAML { background-color: #77d9fb !important; }
.Rebol { background-color: #358a5b !important; }
.Red { background-color: #ee0000 !important; }
.Ren-Py { background-color: #ff7f7f !important; }
.Rouge { background-color: #cc0088 !important; }
.Ruby { background-color: #701516 !important; }
.Rust { background-color: #dea584 !important; }
.SaltStack { background-color: #646464 !important; }
.SAS { background-color: #B34936 !important; }
.Scala { background-color: #DC322F !important; }
.Scheme { background-color: #1e4aec !important; }
.Self { background-color: #0579aa !important; }
.Shell { background-color: #89e051 !important; }
.Shen { background-color: #120F14 !important; }
.Slash { background-color: #007eff !important; }
.Slim { background-color: #ff8f77 !important; }
.Smalltalk { background-color: #596706 !important; }
.SourcePawn { background-color: #5c7611 !important; }
.SQF { background-color: #3F3F3F !important; }
.Squirrel { background-color: #800000 !important; }
.Stan { background-color: #b2011d !important; }
.Standard-ML { background-color: #dc566d !important; }
.SuperCollider { background-color: #46390b !important; }
.Swift { background-color: #ffac45 !important; }
.SystemVerilog { background-color: #DAE1C2 !important; }
.Tcl { background-color: #e4cc98 !important; }
.TeX { background-color: #3D6117 !important; }
.Turing { background-color: #45f715 !important; }
.TypeScript { background-color: #2b7489 !important; }
.Unified-Parallel-C { background-color: #4e3617 !important; }
.Unity3D-Asset { background-color: #ab69a1 !important; }
.UnrealScript { background-color: #a54c4d !important; }
.Vala { background-color: #fbe5cd !important; }
.Verilog { background-color: #b2b7f8 !important; }
.VHDL { background-color: #adb2cb !important; }
.VimL { background-color: #199f4b !important; }
.Visual-Basic { background-color: #945db7 !important; }
.Volt { background-color: #1F1F1F !important; }
.Vue { background-color: #2c3e50 !important; }
.Web-Ontology-Language { background-color: #9cc9dd !important; }
.wisp { background-color: #7582D1 !important; }
.X10 { background-color: #4B6BEF !important; }
.xBase { background-color: #403a40 !important; }
.XC { background-color: #99DA07 !important; }
.XQuery { background-color: #5232e7 !important; }
.Zephir { background-color: #118f9e !important; }